cat << EOF > "$MANIFEST_FILE"
* Build datetime: $(date)
* DockerHub build code: ${BUILD_CODE}
* Docker image: ${DOCKER_REPO}:${GIT_SHA_TAG}
* Git commit SHA: [${SOURCE_COMMIT}](https://github.com/parente/sandbox/commit/${SOURCE_COMMIT})
* Git commit message:

> ${COMMIT_MSG}

## Python Packages

\`\`\`
TODO
\`\`\`

## Julia Packages

\`\`\`
TODO
\`\`\`

## R Packages

\`\`\`
TODO
\`\`\`

## Apt Packages

\`\`\`
$(docker run --rm ${IMAGE_NAME} apt list --installed)
\`\`\`
EOF